<div class="modal-header">
  <h3 class="modal-title">New Task</h3>
</div>
<div class="modal-body">
  <h1>Task Details</h1>
  <input type="text" placeholder="title" ng-model="modal.controller.title" />
  <input type="text" placeholder="description" ng-model="modal.controller.description" />
  <input type="text" placeholder="details" ng-model="modal.controller.details" />
  <input type="text" placeholder="due date" ng-model="modal.controller.dueDate" />
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="modal.ok()">OK</button>
</div>
