<!--use an ng-repeat for these items. Have the link tied to the :id-->
<!--use a modal for each item with all of the details in the model-->
<div class="layout-container">
  <div class="layout-sidebar">
    <select ng-model="controller.project" ng-change="controller.getTasks()">
        <option value="coderCamps">CoderCamps</option>
        <option value="personal">Personal</option>
        <option value="work">Work</option>
    </select>
    <a href="/addProject" class="btn btn-sm btn-primary">
      <i class="fa fa-plus-square fa-1x" aria-hidden="true"></i>
      Add Project
    </a>
  </div>
  <div class="layout-main">
    <div ng-controller="AddTaskController as controller">
      <a href="/addTask" class="btn btn-sq-lg btn-primary" style="width: 150px; height: 150px">
        <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i> </br>
        Add Task</a></br>
    </div>
    <ul>
      <li ng-repeat="task in controller.tasks" style="padding: 100px">
        {{task.title}}
      </li>
    </ul>
  </div>
</div>
