<!--use an ng-repeat for these items. Have the link tied to the :id-->
<!--use a modal for each item with all of the details in the model-->
<div class="layout-container">
  <div class="layout-sidebar">
    <ul style="padding: 10px">
      <li ng-repeat="project in controller.projects" class="homeLists">
        <a href="#" ng-model="controller.project" ng-click="controller.getTasks(project._id)">{{project.name}}</a>
        <a href="/editProject/{{project._id}}"><i class="fa fa-pencil fa-1x" aria-hidden="true"></i></a>
        <a href="#" ng-click="controller.deleteProject(project._id)">
          <i class="fa fa-trash-o fa-1x" style="color:black" aria-hidden="true"></i></a>
      </li>
    </ul>
    <div style="padding: 10px">
      <a href="/addProject" class="btn btn-sm btn-primary">
        <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
        Add Project
      </a>
    </div>
  </div>
  <div class="layout-main">
      <ul style="margin: 0px">
        <li ng-repeat="task in controller.tasks" style="list-style-type: none; display: inline; float: left">
          <div>
            <div class="editBox">
              <a href="/editTask/{{task._id}}">
                <i class="fa fa-pencil fa-2x" aria-hidden="true" style="color: white; padding-top: 5px"></i> </br>
              </a>
                <div style="color: white; padding: 10px 0px">
                  {{task.title}} </br>
                  {{task.description}}</br>
                  {{task.dueDate}}</br>
                </div>
                <div ng-controller="HomeController as controller">
                  <a href="#" ng-click="controller.deleteTask(task._id)">
                    <i class="fa fa-trash-o fa-2x" style="color:white; padding-top: 5px" aria-hidden="true"></i>
                  </a>
                </div>
            </div>
          </div>
        </li>
      </ul>
    <div ng-controller="AddTaskController as controller" style="padding-left: 25px">
      <a href="/addTask" class="btn btn-sq-lg btn-primary" style="width: 150px; height: 150px; margin-left: 20px">
        <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i> </br>
        Add Task</a></br>
    </div>
  </div>
</div>
